@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0e0e0e;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: "Google Sans", sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 600px;
    margin-top: 50px;
}

#primary-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    color: white;
}

#primary-header h1 {
    font-size: 2em;
    margin: 0;
}

#primary-header h1::before {
    content: "> ";
    color: lightblue;
}

#primary-header h1::after {
    content: " _";
    animation: blink 1s step-start 0s infinite;
    color: lightblue;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#primary-header p {
    font-size: 1em;
    color: gray;
    margin: 0;
}

.about-me {
    margin-top: 40px;
    text-align: left;
    width: 100%;
    color: white;
}

.about-me p::before {
    content: "→ ";
    color: rgb(173, 216, 230);
}

.project {
    margin-top: 40px;
    width: 100%;
}

.project h2 {
    text-align: left;
}

.project img {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.project p {
    color: white;
}

.project .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.project-info {
    padding-top: 10px;
}

.project-info p {
    margin: 0;
    color: gray;
    font-size: 0.9em;
}

.contact a,
.project-info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgba(173, 216, 230, 0.8);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    transition: width 0.3s ease;
}

.project-info a:hover {
    background-color: deepskyblue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.tech-badges {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.tech-badge {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 3px;
}

.tech-badge.css {
    background-color: #264de4;
    color: white;
}

.tech-badge.html {
    background-color: #e34c26;
    color: white;
}

.tech-badge.js {
    background-color: #f0db4f;
    color: black;
}

.contact {
    margin-top: 40px;
    width: 100%;
}

.contact p {
    color: white;
    margin: 0;
}

.contact > div p::before {
    content: "→ ";
    color: rgb(173, 216, 230);
}

.contact div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer div {
    color: gray;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: gray;
    margin-top: 40px;
}